<div class="btn-cls">
  <h3>Book CRUD</h3>
  <button type="button" class="btn btn-primary" (click)="openModal(template)">+ Add</button>

</div>

<div class="main-container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Description</th>
        <th scope="col">Public Year</th>
        <th scope="col">ISBN</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.title}}</td>
        <td>{{item.author}}</td>
        <td>{{item.description}}</td>
        <td>{{item.publicYear}}</td>
        <td>{{item.isbn}}</td>
        <td><button type="button" class="btn btn-info" (click)="editItem(item._id, template)">Edit</button></td>
        <td><button type="button" class="btn btn-danger" (click)="deleteItem(item._id)">Delete</button></td>

      </tr>
    </tbody>
  </table>

</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{isEdit ? 'Edit': 'Add'}} New Book</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addBookForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input formControlName="title" type="text" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">
        <p *ngIf="formSubmit && addForm['title'].errors?.['required']" class="error-cls">Please Enter Title</p>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Author</label>
        <input formControlName="author" type="text" class="form-control" id="exampleInputPassword1">
        <p *ngIf="formSubmit && addForm['author'].errors?.['required']" class="error-cls">Please Enter Author</p>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <input formControlName="description" type="text" class="form-control" id="exampleInputPassword1">
        <p *ngIf="formSubmit && addForm['description'].errors?.['required']" class="error-cls">Please Enter Description
        </p>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Public Year</label>
        <input formControlName="public_year" type="number" class="form-control" min="0" id="exampleInputPassword1">
        <p *ngIf="formSubmit && addForm['public_year'].errors?.['required']" class="error-cls">Please Enter Public Year
        </p>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">ISBN</label>
        <input formControlName="isbn" type="text" class="form-control" id="exampleInputPassword1">
        <p *ngIf="formSubmit && addForm['isbn'].errors?.['required']" class="error-cls">Please Enter ISBN</p>
      </div>
      <button type="button" (click)="getFormValue()" class="btn btn-primary">Submit</button>
    </form>
  </div>
</ng-template>
